<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for responsive design and SEO -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aurora Web Framework For Creaing CRUD Apps">
    <meta name="keywords" content="Aurora, MVC, Web, Framework">
    <meta name="sitename" content="Aurora Framework">
    <meta name="author" content="Hemin Satya">

    <!-- Page title -->
    <title>{% block title %}Error Title{% endblock %}</title>

    <!-- Favorite icon -->
    <link rel="icon" type="image/png" href="{{STATICS}}/generic/icon.png">

    <!-- Styles -->
    <link rel="stylesheet" href="{{STATICS}}/generic/main.css">
    <link rel="stylesheet" href="{{STATICS}}/errors/styles.css">
</head>
<body>
    {% block body %}
    {% endblock %}

    <!-- Scripts -->
    <script src="{{STATICS}}/generic/main.js"></script>
    <script src="{{STATICS}}/errors/scripts.js"></script>
</body>
</html>