{% extends 'aurora/layout.html' %}

{% block title %}Index Page{% endblock %}

{% block body %}
    <h1>Welcome to Aurora Framework</h1>
    <p>Aurora is an MVC web framework for creating CRUD applications quickly and simply.</p>
    <p>Current Version: <strong>{{ version }} <em>beta</em></strong></p>

    <hr class="divider divider-gradient">
    
    <h2>Resources</h2>
    <p>Documentation: <a href="https://github.com/heminsatya/aurora/tree/main/docs">Aurora Docs</a></p>
    <p>Changelog: <a href="https://github.com/heminsatya/aurora/tree/main/changes">Aurora Changes</a></p>
    <p>Issues: <a href="https://github.com/heminsatya/aurora/issues">Aurora Bug Tracker</a></p>
    <p>Source: <a href="https://github.com/heminsatya/aurora">Aurora GitHub Repo</a></p>
    <p>PyPI: <a href="https://pypi.org/project/aurora-mvc/">Aurora PyPI Page</a></p>
    
    <hr class="divider divider-gradient">

    <h2>Dependencies</h2>

    <h3>Packages:</h3>
    <ul>
        <li><a href="https://pypi.org/project/Flask/">Flask</a></li>
        <li><a href="https://pypi.org/project/click/">Click</a> -- <em>Will be installed by flask.</em></li>
        <li><a href="https://pypi.org/project/WTForms/">WTForms</a> -- For WTForms & CSRF tokens.</li>
    </ul>

    <h3>Database APIs:</h3>
    <ul>
        <li><a href="https://docs.python.org/3/library/sqlite3.html">sqlite3</a> -- If you are using SQLite Database. <em>Included in the standard python library.</em></li>
        <li><a href="https://pypi.org/project/psycopg2/">psycopg2</a> -- If you are using PostgreSQL Database.</li>
        <li><a href="https://pypi.org/project/mysql-connector-python/">mysql.connector</a> -- If you are using MySQL Database.</li>
    </ul>

{% endblock %}
