<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for responsive design and SEO -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aurora Web Framework For Creaing CRUD Apps">
    <meta name="keywords" content="Aurora, MVC, Web, Framework">
    <meta name="sitename" content="Aurora Framework">
    <meta name="author" content="Hemin Satya">

    <!-- Page title -->
    <title>{% block title %}Page Title{% endblock %}</title>

    <!-- Favorite icon -->
    <link rel="icon" type="image/png" href="{{STATICS}}/aurora/icon.png">

    <!-- Styles -->
    <link rel="stylesheet" href="{{STATICS}}/generic/main.css">
    <link rel="stylesheet" href="{{STATICS}}/aurora/styles.css">
</head>
<body>
    <!-- Navigation -->
    <nav class="nav">
        <div class="container">
            <ul>
                <li><a href="{{AURORA}}/"><img src="{{STATICS}}/aurora/aurora-logo.png" alt="Aurora Logo" class="aurora-logo"></a></li>
            </ul>
        </div>
    </nav>
    <!-- Page Content -->
    <section class="page">
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </section>

    <!-- Scripts -->
    <script src="{{STATICS}}/generic/main.js"></script>
    <script src="{{STATICS}}/aurora/scripts.js"></script>
</body>
</html>