{% extends 'notes/layout.html' %}

{% block title %}{{consts.new_note}}{% endblock %}

{% block body %}
    <h1>{{consts.create_note}}</h1>
    <form action="{{LANGUAGE + NOTES}}/new-note/" method="post" class="frm-app" id="new-note-form">
        {{ form.csrf_token }}
        <div class="form-group">
            <input type="text" name="title" class="form-control" placeholder="*{{consts.title}}" required>
        </div>
        <div class="form-group">
            <label for="dynamic-content">*{{consts.content}}:</label>
            <textarea name="content" class="form-control" rows="10" placeholder="*{{consts.content}}" id="dynamic-content"></textarea>
        </div>
        <button type="submit" class="btn btn-app submit">{{consts.submit}}</button>
    </form>
{% endblock %}
