{% extends 'users/layout.html' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Login</h1>
    <form action="{{USERS}}/login/" method="post" class="frm-app" id="login-form">
        {{ form.csrf_token }}
        <input type="hidden" name="next" value="{{ next }}">
        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="*Username" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="*Password" required>
        </div>
        <div class="row">
            <div class="col col-4">
                <button type="submit" class="btn btn-app submit">Login</button>
            </div>
            <div class="col col-8 text-right pt-2">
                <input type="checkbox" name="remember" id="remember">
                <label for="remember">Remember Me</label>
            </div>
        </div>
    </form>
    <hr class="divider divider-gradient">
    <p>Don't Have An Account? <a href="{{USERS}}/register/" style="margin-left: 0.5rem;">Register Here</a></p>
{% endblock %}
